@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap");
.header {
  padding: 0.05em;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/web2.png");
  padding: 0 0 0.2em 0;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Merriweather Sans", sans-serif;

  font-size: 18px;

  min-height: 100px;
}
.TextFieldError {
  border-bottom: 1px solid red;
}

.errorMessage {
  padding: 0;
  margin: 0;
  color: red;
}
.successMessage {
  padding: 0;
  margin: 0;
  color: green;
}
.containerPost {
  margin: 0 3em 0 3em;
}
