.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.image-upload > input {
  display: none;
}
.test {
  background: none;
  position: absolute;
  width: 100%;
  padding: 2%;
  border-radius: 20px;
  margin: 0;
  text-align: center;
}
